<footer id='myfooter' class="container-fluid" ng-controller="FooterController">
          
    
    <h1>{{company.name}}</h1><br>
    <address>
        <div class="text-center" style='font-size:20px;'>
        {{company.address}} <br>{{company.city}}, {{company.state}} {{company.zip}}<br>
        {{company.number}}
        </div>
    </address>

    <a ng-show='company.facebook' target="_blank" href="{{company.facebook}}"><i href="#" class="fa fa-facebook rounded"></i></a> <a ng-show='company.twitter' target="_blank" href="{{company.twitter}}"><i href="#" class="fa fa-twitter rounded" style='padding-left:17px;'></i></a> <a ng-show='company.instagram' target="_blank" href="{{company.instagram}}"><i href="#" class="fa fa-instagram rounded" style='padding-left:17px;'></i></a> <a ng-show='company.google' target="_blank" href="{{company.google}}"><i href="#" class="fa fa-google rounded" style='padding-left:17px;'></i></a> <a ng-show='company.email' href="mailto:{{company.email}}"><i href="#" class="fa fa-envelope rounded" style='padding-left:16px; background-color:grey'></i></a>                         
        
    <div class='row justify-content-sm-center'>
        <div class='col-xl-3 col-lg-4 col-sm-6 col-xs-4'>
            <div class='table-responsive'>
                <table class="table table-striped">
                    <tbody>        
                        <tr ng-if='company.monday.on'>
                            <td>Monday</td>
                            <td>{{company.monday.start}}</td>
                            <td>{{company.monday.end}}</td>
                        </tr>
                        <tr ng-if='!company.monday.on'>
                            <td>Monday</td>
                            <td>Closed</td>
                        </tr>
                        <tr ng-if='company.tuesday.on'>
                            <td>Tuesday</td>
                            <td>{{company.tuesday.start}}</td>
                            <td>{{company.tuesday.end}}</td>
                        </tr>
                        <tr ng-if='!company.tuesday.on'>
                            <td>Tuesday</td>
                            <td>Closed</td>
                        </tr>
                        <tr ng-if='company.wednesday.on'>
                            <td>Wednesday</td>
                            <td>{{company.wednesday.start}}</td>
                            <td>{{company.wednesday.end}}</td>
                        </tr>
                        <tr ng-if='!company.wednesday.on'>
                            <td>Wednesday</td>
                            <td>Closed</td>
                        </tr>
                        <tr ng-if='company.thursday.on'>
                            <td>Thursday</td>
                            <td>{{company.thursday.start}}</td>
                            <td>{{company.thursday.end}}</td>
                        </tr>
                        <tr ng-if='!company.thursday.on'>
                            <td>Thursday</td>
                            <td>Closed</td>
                        </tr>
                        <tr ng-if='company.friday.on'>
                            <td>Friday</td>
                            <td>{{company.friday.start}}</td>
                            <td>{{company.friday.end}}</td>
                        </tr>
                        <tr ng-if='!company.friday.on'>
                            <td>Friday</td>
                            <td>Closed</td>
                        </tr>
                        <tr ng-if='company.saturday.on'>
                            <td>Saturday</td>
                            <td>{{company.saturday.start}}</td>
                            <td>{{company.saturday.end}}</td>
                        </tr>
                        <tr ng-if='!company.saturday.on'>
                            <td>Saturday</td>
                            <td>Closed</td>
                        </tr>
                        <tr ng-if='company.sunday.on'>
                            <td>Sunday</td>
                            <td>{{company.sunday.start}}</td>
                            <td>{{company.sunday.end}}</td>
                        </tr>
                        <tr ng-if='!company.sunday.on'>
                            <td>Sunday</td>
                            <td>Closed</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="text-center cpright">© {{company.copyright}} {{company.name}}</div>

    
</footer> 

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">