<!-- Container (About Section) -->
<div id="about" class="container marketing">
    <h2 class="mySplash">About Us</h2>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Salon and Spa</h1> </div>
                <p class="lead">At Dominic &amp; Company Salon and Day Spa, we do more than just style your hair. We help you indulge yourself in beauty, style, and relaxation.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Expert Hair Care</h1> </div>
                <p class="lead">We offer complete hair services for men, women, and children including precision haircuts, color, deep conditioning, scalp treatments, and more.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>New Location</h1> </div>
                <p class="lead">We've moved just down the street into a fantastic new facility located at <strong>1545 Bethel Road</strong>.
                    <br> Call <strong>614.459.5848</strong> for an appointment.</p>
            </div>
        </div>
    </div>
</div>
<div ng-include="'views/featurettes.html'"></div> 
<div ng-include="'views/testimonials.html'"></div>