<span class="container-fluid" ng-controller="MainController">
    <!-- Splash screen including full-page background image and banner messages (header title and message) -->
    <div ng-show='company.header.on' id="bannersection" ng-loading="company.headertitle">
        <div ng-show='company.headertitle || company.headermessage' class="bannercontent">
            <h1>{{company.headertitle}}</h1>
            <h2>{{company.headermessage}}</h2>
        </div>
    </div>           
    
    <!------------------------------------------------------------------------------------------->
    <!-- All sections below are turned on/off via the "Features" tab in the Administrator page -->
    <!------------------------------------------------------------------------------------------->
        
    <!-- Company description -- this content is completed by admin via TinyMCE editor -->
    <section ng-show='company.description.on' id="main-description">
        <div class='row'>
            <div class='col-sm-12'>
                <p class="text-center splash-text" ng-bind-html="company.homepagedescription | html"></p>
            </div>
        </div>       
    </section>
    
    <!-- This is the body of the main page including tabbed view of Services, Specialists and Products -->
    <div class='col-12' ng-class="{'mt-main': !company.description.on && !company.header.on}"></div>
    <section id="main-services-section">
        <div style='margin-bottom:60px;' class='container-fluid'>
            <div class='row'>
                <div class='col-sm-12'>
                    <ul class="nav nav-tabs nav-fill nav-justified">
                        <li ng-if='company.services.on' class="nav-item"><a class="nav-link active" data-toggle="tab" data-target='#services-content' data-tab-history="true">{{company.menuservices}}</a></li>
                        <li ng-show='company.specialists.on' class="nav-item"><a class="nav-link" ng-class="{'active': !company.services.on}" data-toggle="tab" data-target='#specialists-content'>{{company.menuspecialists}}</a></li>
                        <li ng-show='company.products.on' class="nav-item"><a class="nav-link" data-toggle="tab" data-target='#products-content' ng-click="searchquery=''">Products</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <!-- Services tab content -->
        <div class="tab-content">
            <div id="services-content" ng-if='company.services.on' class="tab-pane fade in active show">
                <div class="container-fluid">
                    <div class="row">
                        
                        <div ng-show='company.search.on' class='col-sm-12 searchbox input-group' ng-class="{'mt-5': !company.description.on && !company.header.on}">
                            <input class="form-control input-md mb-1" type="text" ng-model="searchquery" placeholder="search" data-toggle="tooltip" data-placement="bottom"> 
                        </div>
                        
                        <div class='col-12'></div>
                        
                        <div ng-show='company.services.on' ng-repeat='service in services | filter:searchquery' class='col-lg-4 col-md-6 card-deck mb-5'>
                            <div class='card mb-3'>
                                <a ng-href='#service-detail/{{service.servicecategory}}'> <img ng-src="{{service.picURL}}" class="img-fluid m-0" alt="{{service.servicecategory}}"> </a>
                                <div class='card-block'>
                                    <h3 class='card-title text-uppercase'><a ng-href='#service-detail/{{service.servicecategory}}'>{{service.servicecategory}}</a></h3>
                                    <div class="card-text">
                                        <p class='text-muted' ng-bind-html="(service.description | limitTo:180 | html) + '...'"></p>
                                    </div>
                                </div>
                                <div class='card-footer'> <a ng-href='#service-detail/{{service.servicecategory}}' class="btn btn-elegant btn-md btn-block" role="button" aria-pressed="true">Book {{service.servicecategory | removelastchar}} {{company.menuservices | removelastchar}}</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Specialists tab content -->
            <div id="specialists-content" class="tab-pane fade" ng-class="{'in active show': !company.services.on}">
                <div class="container-fluid">
                    <div class="row">
                        
                        <div ng-show='company.search.on' class='col-sm-12 searchbox input-group' ng-class="{'mt-5': !company.description.on && !company.header.on}">
                            <input class="form-control input-md mb-1" type="text" ng-model="searchquery" placeholder="search" data-toggle="tooltip" data-placement="bottom"> 
                        </div>                        
                        
                        <div class='col-12'></div>
                        
                        <div ng-show='company.specialists.on' ng-repeat="staffmember in users | filter:searchquery | filter: {active:true} | orderBy: staffOrder:ascending" class='col-lg-4 col-md-6 card-deck mb-5'>
                            <div class='card mb-3'>
                                <a ng-href="#specialist-detail/{{staffmember.regUser}}"> <img ng-src="{{staffmember.profilepic}}" class="img-fluid card-img-top m-0" alt="{{service.servicecategory}}"> </a>
                                <div class='card-block'>
                                    <h3 class='card-title'><a ng-href="#specialist-detail/{{staffmember.regUser}}">{{staffmember.firstname}} {{staffmember.lastname}}</a><span ng-show='staffmember.hasHoursToday==true' class="badge badge-primary pull-right" style='font-weight:100;'><a style='color:#fff;' ng-href='#appointment/{{staffmember.regUser}}'>Openings today!</a></span></h3>
                                    <div class="card-text">
                                        <h4 class='text-muted'>{{staffmember.title}}</h4>
                                        <p class='text-muted'>{{staffmember.mobile}}</p>
                                        <!--span ng-bind-html="(staffmember.about | limitTo:180 | html) + '...'"></span-->
                                    </div>
                                </div>
                                <div class='card-footer'> <a ng-href='#appointment/{{staffmember.regUser}}' class="btn btn-elegant btn-md btn-block" role="button" aria-pressed="true">Book an appointment</a>                        
                                    <!--a ng-href='#specialist-detail/{{staffmember.regUser}}' class="btn btn-secondary btn-md pull-right" role="button" aria-pressed="true">More...</a-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Products tab content -->
            <div id="products-content" class="tab-pane fade" ng-class="{'in active': !company.services.on && !company.specialists.on}"> 
                <div class="container-fluid">
                    <div class="row">
                        
                        <!-- Filtering Dropdowns -->
                        <div class='col-sm-12 text-center'>
                            <div class="btn-group mb-1">
                                <button class="btn btn-elegant btn-block dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter by Brand</button>
                                <div class="dropdown-menu">
                                    <a ng-repeat='brand in brands track by $index' class="dropdown-item" ng-click="setProdQuery(brand)">{{brand}}</a>
                                </div>
                            </div>
                            <div class="btn-group mb-1">
                                <button class="btn btn-elegant btn-block dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter Category</button>
                                <div class="dropdown-menu">
                                    <a ng-repeat='cat in categories track by $index' class="dropdown-item" ng-click="setProdQuery(cat)">{{cat}}</a>
                                </div>
                            </div>
                            <div class="btn-group mb-1">
                                <button class="btn btn-elegant" type="button" ng-click="prodquery = ''">Clear Filter</button>
                            </div>
                            <div class="btn-group ml-1 mb-1 mt-2">
                                <input type="number" min="1" max="100" class="form-control" ng-init='pageSize=12' ng-model="pageSize">
                            </div>
                            <div class="btn-group mb-1 mt-1">
                                Items per page
                            </div>
                            <input class="form-control input-md mb-5" type="text" ng-model="prodquery" placeholder="filter" data-toggle="tooltip" data-placement="bottom">
                            
                        </div>
  
                        <div class='col-12'></div>
                        
                        <div ng-show='company.products.on' dir-paginate="product in products | filter:prodquery | itemsPerPage:pageSize" class='col-md-3 col-sm-6 card-deck mb-5'>
                        <!--div ng-show='company.products.on' ng-repeat="product in products | filter:prodquery" class='col-md-3 col-sm-6 card-deck mb-5'-->
                            <div class='card mb-3'>
                                <a ng-href="#product-detail/{{product.$id}}"> <img ng-src="{{product.picURL}}" class="img-fluid card-img-top m-0" alt="product picture"> </a>
                                <div class='card-block'>
                                    <div class="card-text">
                                        <p></p>
                                        <h5 class='text-center'><a ng-href="#product-detail/{{product.$id}}">{{product.name}} {{product.price | currency}}</a></h5> </div>
                                </div>
                                <div class='card-footer'>
                                    <!--h5 class='text-center'><a ng-href="#product-detail/{{product.$id}}">{{product.prodname}} {{product.prodprice | currency}}</a></h5-->
                                    <ngcart-addtocart id="{{product.$id}}" name="{{ product.name }}" price="{{ product.price }}" quantity='1' quantity-max='{{product.quantity}}'></ngcart-addtocart>
                                </div>
                            </div>
                        </div>
                        <div class='col-12'></div>
                        <div class='container-fluid'>
                        <div class='row'>
                        <div class='col-sm-12 text-center'>
                            <dir-pagination-controls
                                max-size=pageSize
                                direction-links="true"
                                boundary-links="true" 
                                template-url="/views/dirPagination.tpl.html">
                            </dir-pagination-controls>
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Gallery section -->
    <section ng-show='company.gallery.on' id="main-gallery">
        <div class="container-fluid">
            <div class="row">
                <div class="text-center" style='margin-left: auto; margin-right: auto;'> <span ng-repeat='gallerypic in company.gallerypics'>
                        <figure>
                            <a href={{gallerypic.url}} data-fancybox="group" data-caption="">
                            <img class="img-fluid rounded z-depth-3" ng-src={{gallerypic.url}} alt="" /></a>
                        </figure>
                    </span> </div>
            </div>
        </div>
    </section>
    
    <!-- Google Map -->
    <div ng-show='company.map.on' ng-controller="ContactController">
        <iframe id='google-map' style="width:100vw; height:50vh; position:relative;" ng-src="{{company.googlemapiframe}}" allowfullscreen></iframe>
    </div>    
    
</span>



