<div id="account-page" ng-controller="AccountController">
    <div class="container-fluid">
    
        
    <form class="form-horizontal" id="accountform" name="accountform" novalidate>
        
        <h1>Account</h1>
        <h2 >{{user.firstname}} {{user.lastname}}</h2>
    
        <p >Update your contact information and manage your appointments.</p>
        
            
        <ul class="nav nav-tabs flex-wrap">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" data-target='#appointments'>Appointments</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" data-target='#contact'>Contact</a></li>
        </ul>

        
        <!-- CONTACT -->
        <div class="tab-content">
            <div id="contact" class="tab-pane fade">
                <div class="col-md-offset-2 col-md-8">
                    <h3>My Contact Info</h3>
                        <div class="form-group">
                    
                                <label for="firstNameInput" class="col-form-label col-form-label-lg">First Name</label>
                                <input ng-model="user.firstname" class="form-control input-lg" id='firstNameInput'type="text" placeholder="first name" data-toggle="tooltip" data-placement="bottom">

                        </div>

                        <div class="form-group">

                                <label for="lastNameInput" class="col-form-label col-form-label-lg">Last Name</label>
                                <input ng-model="user.lastname" class="form-control input-lg" id='lastNameInput' type="text" placeholder="last name" data-toggle="tooltip" data-placement="bottom">
                 
                        </div>
                        <div class="form-group">
                          
                                <label for="mobileInput" class="col-form-label col-form-label-lg">Mobile Number</label>
                                <input ng-model="user.mobile" class="form-control input-lg" id='mobileInput' type="tel" placeholder="mobile number" data-toggle="tooltip" data-placement="bottom">
                         
                        </div>
                        <div class="form-group">
               
                                <label for="emailInput" class="col-form-label col-form-label-lg">Email</label>
                                <input ng-model="user.email" class="form-control input-lg" id='emailInput' type="email" placeholder="email" data-toggle="tooltip" data-placement="bottom">
                         
                        </div>
    
                </div> <!-- Contact Information -->
            </div>
        
            <!-- MY APPOINTMENTS -->
            <div id="appointments" class="tab-pane fade in active show">
                <h3>My Appointments</h3>
                <div class="row">
                    <div class="col-sm-4 col-xs-8">
                        <div class="searchbox">
                            <input class="form-control input-md" type="text" ng-model="userquery" placeholder="keyword search" data-toggle="tooltip" data-placement="bottom">
                            <br>
                            <span><input type='checkbox' ng-init='hidePastAppointments=true' ng-model='hidePastAppointments'> Hide Past Appointments</span>
                            <br>
                        </div>
                    </div>
                </div>
                    <section id="appointment-section">
            
                        <div class="table-responsive">
                            <table id='servtable' class="table table-striped table-bordered">
                                <thead>
                                    <tr><th>Action</th><th>Specialist</th><th>Date/time</th><th>Service</th><th>Duration (minutes)</th><th>Date Booked</th></tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="appointment in appointments  | orderBy:'sortDate' | filter:userquery | filter:appointmentFilter">
                                        
                                        <td ng-show='appointment.sortDate < currentTime'><button type="button" class="btn btn-secondary btn-sm" ng-click="deleteAppointment(appointment)">Delete</button></td>
                                        <td ng-show='appointment.sortDate >= currentTime'><button type="button" class="btn btn-secondary btn-sm" ng-click="cancelAppointment(appointment)">Cancel</button></td>
                                        
                                        <td><span class="pull-left">{{appointment.specialist}}</span></td>
                                        <td><span class="pull-left">{{appointment.date}}</span></td>
                                        <td><span class="pull-left">{{appointment.service}}</span></td>
                                        <td><span class="pull-left">{{appointment.minutesToComplete}}</span></td>
                                        <td><span class="pull-left">{{appointment.dateBooked}}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>  
                            
                    </section>                              
            </div> <!-- MY APPOINTMENTS -->
        </div>
    </form>
    </div>
      
</div>


<!-- Booking Confirm Modal -->
<div class="modal fade" id="modalCancelConfirm">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Cancel Appointment Confirmation</h3>
            </div>
            <div class="modal-body">
                <p id="modalSuccessAlert-body"></p>
            </div>
            
            <span class='text-center'>
                <p id="confspecialist"></p>
                <p id="confservice"></p>
                <p id="confbookdate"></p>
            </span>
            <div class="modal-footer">
                <div id="modalDeleteConfirm-footer" class="pull-left">Cancel this appointment?</div>
                <button type="button" id="pf_modalYes2" class="btn btn-danger btn-md" data-dismiss="modal">Yes</button>
                <button type="button" id="pf_modalNo2" class="btn btn-secondary btn-md" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
